.mouse-container {
  width: 500px;
  height: 100px;
  background: burlywood;
  margin: 10px;
  text-align: center;
}

p,
div,
li {
  font-size: 21px;
}

input {
  width: 500px;
  height: 40px;
  font-size: 18px;
  margin: 10px;
}

button {
  height: 40px;
  width: 230px;
  color: white;
  background: saddlebrown;
}
